/*========== FONT LIKED HERE ==========*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/*========== FONT LIKED HERE// ==========*/

/*========== BASIC STYLE ==========*/
:root {
  --bs-body-color: #1a1a1a;
  --bs-body-color-rgb: 26, 26, 26;

  --bs-primary: #0d6efd;
  --bs-secondary: #090f4e;
  --bs-secondary-rgb: 9, 15, 78;
  --bs-success: #34b86d;
  --bs-success-rgb: 52, 184, 109;
  --bs-info: #e7f0ff;
  --bs-warning: #fcbd0e;
  --bs-warning-text-emphasis: #fff9e7;
  --bs-danger: #f5432c;
  --bs-danger-rgb: 245, 67, 44;
  --bs-danger-text-emphasis: #fdd9d5;
  --bs-orange: #fd7e14;
  --bs-orange-rgb: 253, 126, 20;

  --bs-gray-dark: #353535;
  --bs-gray-100: #484848;
  --bs-gray-200: #5f5f5f;
  --bs-gray-300: #63657e;
  --bs-gray-400: #898a8b;
  --bs-gray-500: #cad1db;
  --bs-gray-600: #ebebeb;
  --bs-gray-700: #f1f1f1;
  --bs-gray-800: #f3f3f3;
  --bs-gray-900: #f8f9fb;

  --font-family: "Outfit", sans-serif;
  --header-h: 85px;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}
body {
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  color: var(--bs-gray-400);
  font-size: 14px;
}
p {
  line-height: 1.4;
  margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  color: var(--bs-body-color);
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
img {
  max-width: 100%;
  transition: 0.3s;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--bs-body-color);
}
a,
button {
  transition: 0.3s ease !important;
  color: inherit;
  outline: medium none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: 0;
}
button:focus,
input:focus,
textarea:focus {
  outline: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
*::-moz-selection {
  background: var(--bs-primary);
  color: #fff;
  text-shadow: none;
}
*::selection {
  background: var(--bs-primary);
  color: #fff;
  text-shadow: none;
}
/* INPUT, SELECT, TEXTAREA, PLACEHOLDER */
.nice-select,
input,
textarea {
  width: 100%;
  padding: 1.5em;
  padding-left: 2.2em;
  font-size: 16px;
  transition: 0.3s ease;
  border: 1px solid transparent;
  font-weight: 500;
  background: #fff;
  color: #222;
}
.form-control:focus,
input:focus,
textarea:focus {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-color: var(--bs-border-color);
}
::-moz-placeholder,
::placeholder {
  color: var(--bs-gray-400);
  opacity: 1;
}
::-ms-placeholder {
  color: var(--bs-gray-400);
}
::-webkit-input-placeholder {
  color: var(--bs-gray-400);
}
textarea.form-control::-moz-placeholder,
textarea.form-control::placeholder {
  color: rgba(var(--bs-body-color-rgb), 0.5);
  opacity: 1;
}
textarea.form-control::-ms-placeholder {
  color: rgba(var(--bs-body-color-rgb), 0.5);
}
textarea.form-control::-webkit-input-placeholder {
  color: rgba(var(--bs-body-color-rgb), 0.5);
}
/* NICESELECT */
.nice-select {
  height: auto;
  float: none;
  border: transparent;
  font-size: inherit;
  line-height: inherit;
}
.nice-select .list {
  width: 100%;
}
.nice-select::after {
  height: 10px;
  width: 10px;
  border-color: #747474;
  border-width: 3px;
  right: 25px;
}
/*========== BASIC STYLE// ==========*/

/*========== CONTAINER WIDTH ==========*/
.container {
  max-width: 1240px;
}
/*========== CONTAINER WIDTH// ==========*/

/*========== GLOBAL CSS ==========*/
.btn-primary-light {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-bg: var(--bs-info);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-primary);
}
.btn-orange {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-orange);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #f07e21;
}
.btn-danger-light {
  --bs-btn-color: var(--bs-danger);
  --bs-btn-bg: var(--bs-danger-text-emphasis);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-danger);
}
.bg-gray {
  background-color: var(--bs-gray-800) !important;
}
.table {
  font-size: 1.15em;
}
.table th {
  font-weight: 400;
  font-size: 1em;
  color: var(--bs-body-color);
}
.table td {
  color: var(--bs-gray-100);
}
.table-lg > :not(caption) > * > * {
  padding: 0.7em 0.7em;
}
.btn {
  --bs-btn-padding-y: 0.475rem;
}
.btn-sm {
  --bs-btn-padding-y: 0.275rem;
}
.sq-icon {
  height: 2em;
  width: 2em;
  display: inline-grid;
  place-content: center;
  background: var(--bs-gray-600);
  border-radius: 0.5em;
  font-size: 1.3em;
}

/* .w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
} */
.flex-1 {
  flex: 1 !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-theme {
  color: var(--bs-body-color) !important;
}
section,
header,
footer,
.position-relative {
  position: relative;
  z-index: 1;
}
.white-content h1,
.white-content h2,
.white-content h3,
.white-content h4,
.white-content h5,
.white-content h6,
.white-content p {
  color: #fff;
}
.text-theme {
  color: var(--bs-body-color) !important;
}
.bg-attachment {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gray-color);
}
.el-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.el-absolute {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  max-height: 100%;
}
.el-absolute.center-center,
.el-absolute.center-right,
.el-absolute.center-left {
  top: 50%;
  transform: translate(0, -50%);
}
.el-absolute.center-center {
  left: 50%;
  transform: translate(-50%, -50%);
}
.el-absolute.top-right,
.el-absolute.bottom-right,
.el-absolute.center-right {
  left: auto;
  right: 0;
}
.el-absolute.bottom-right,
.el-absolute.bottom-left {
  top: auto;
  bottom: 0;
}
.section-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #000;
  opacity: 0.6;
  transition: 0.3s ease;
}
.inline-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-1 * var(--bs-gutter-x));
  margin-left: calc(-1 * var(--bs-gutter-x));
}
.inline-list > * {
  margin-top: calc(1 * var(--bs-gutter-y));
  margin-right: calc(1 * var(--bs-gutter-x));
  margin-left: calc(1 * var(--bs-gutter-x));
}

/*========== GLOBAL CSS// ==========*/

/*========== HEADER AREA ==========*/
.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.3s ease;
}
/* .header-area.sticky {
  position: fixed;
  padding: 0.25em 0;
  background: #fff;
  animation: slideInDown 0.5s ease;
}  */

.header-wrapper {
  background-color: var(--bs-body-color);
  padding: 1.5em;
  color: #fff;
  font-weight: 500;
}
.header-profile {
  padding-left: 1.5em;
  border-left: 2px solid var(--bs-white);
  margin-left: 1em;
}
.header-profile img {
  height: 3.2em;
  width: 3.2em;
  object-fit: cover;
  border-radius: 50%;
}

.mainmenu {
  font-size: 16px;
}
.mainmenu li {
  display: inline-block;
}
.mainmenu li a {
  padding: 0 1em;
  display: inline-block;
}
.mainmenu li a:hover {
  color: var(--bs-white);
  transform: scale(1.3);
}
.mainmenu li i {
  font-size: 1.2em;
  position: relative;
}
.mainmenu li.active i::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0.6em;
  width: 0.6em;
  background: var(--bs-orange);
  border-radius: 50%;
  transform: translate(25%, -25%);
}
/*========== HEADER AREA// ==========*/

/*========== APP AREA ==========*/

/*========== NAV ==========*/
.nav-list button {
  width: 100%;
  text-align: left;
  padding: 0.9em 1.3em;
  font-size: 1.15em;
  font-weight: 600;
  color: var(--bs-gray-dark);
  border-radius: 0.9em;
}
.nav-list {
  padding: 2.3em 2em;
}
.nav-list button img {
  width: 1.4em;
  margin-right: 0.75em;
}
.nav-list button:hover,
.nav-list li.active button {
  color: var(--bs-body-color);
  background: var(--bs-white);
}
.nav-list button:hover {
  transform: translate(0.5em);
}
.nav-list li {
  margin-bottom: 0.6em;
}
/*========== NAV// ==========*/

/*========== APP HEAD ==========*/
.app-wrapper {
  padding: 2.9em;
  background: var(--bs-gray-700);
}
.app-head {
  margin-bottom: 1em;
}
.app-head-filter label {
  font-size: 1.15em;
  color: var(--bs-body-color);
  font-weight: 500;
}
.app-head-filter .input-group-text {
  background: var(--bs-body-bg);
  padding-right: 0;
  border-right: 0;
}
.app-head-filter .form-control {
  border-left: 0;
}
.app-head-filter .form-select,
.app-head-filter .form-control,
.app-head-filter .input-group-text {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.app-head-filter .form-control:focus {
  box-shadow: 0 0;
}
.app-head-filter .input-group-text {
  font-size: 1.3em;
}
.app-head-filter #search-number {
  min-width: 23em;
}
/*========== APP HEAD// ==========*/

/*========== APP CONTENT ==========*/
.badge.rounded-pill {
  --bs-badge-padding-y: 0.6em;
}
.app-content {
  border-radius: 0.7em;
  padding: 1.5em;
  background: var(--bs-white);
}

/*========== ORDER LIST ==========*/

.order-table {
  border-radius: 0.8em;
  border-bottom: 0;
}
.order-table table {
  margin-bottom: 0;
}
.order-table .order-name {
  width: 12em;
}
.order-table .order-phone {
  width: 8em;
}
.table th:not(:last-child) {
  border-right-width: var(--bs-border-width);
}
.order-details .card-subtitle {
  color: rgba(var(--bs-body-color-rgb), 0.5);
}
.order-details .card-text {
  color: rgba(var(--bs-body-color-rgb), 0.8);
}
.order-details .card {
  min-width: 10em;
}
.pill-contain .badge {
  font-size: 0.55em;
}

.order-details-collapse {
  transition: 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
.order-details-trigger::after {
  content: " +";
}
.order-details-trigger.active::after {
  content: " -";
}
/*========== ORDER LIST// ==========*/

/*========== APP CONTENT// ==========*/

/*========== APP AREA// ==========*/
